---
import { Icon } from 'astro-icon'
// import { player } from "$lib/mediaplayer";
// import { media } from "$lib/stores/data";
import Artist from "./Artist.astro";
// import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

// Match track to artist
const artist = await Astro.props?.artist
const tracks = await getCollection('tracks')

if (artist && tracks) {
    artist.data.track = {...tracks.find(track => track.data.title == artist.data.discography)}
}

let media = {media: []}
let player = {track: ""}

---

    <div class={"portrait:h-1/2 text-left"}>
        <header>
            <Artist artist={artist} />
        </header>
        <footer class="text-2xl text-bold  " + artist.data?.track.data?.bgColor + " " + artist.data?.track.data?.color >
            {artist.data?.track.data?.quote &&
            <blockquote class="text-4xl text-italic text-bold p-4" cite={Astro.site + "/artists/" + artist?.slug}>
                <span class="text-4xl">"</span> {artist.data?.track.data?.quote}<span class="text-4xl">"</span>
            </blockquote>
            }

            <h3 class="p-4">Follow {artist.data?.title} on:</h3>
            <div class="flex flex-col items-start">
                {artist.data?.twitter &&
                    <a class="btn has-text-twitter px-3 py-1 m-0 w-11/12" href={"https://twitter.com/" + artist.data?.twitter} target="_blank" rel="nofollow noopener noreferrer" title={artist.data?.title + "'s Twitter page"}>
                        <span class="mr-4 h-4 w-4">
                            <Icon pack="fa" name="twitter" />
                        </span>
                        @{artist.data?.twitter}
                    </a>
                }
                {artist.data?.instagram &&
                    <a class="btn has-text-instagram px-3 py-1 m-0 w-11/12" href={"https://www.instagram.com/" + artist.data?.instagram} target="_blank" rel="nofollow noopener noreferrer" title={artist.data?.title + "'s Instagram page"}>
                        <span class="mr-4 h-4 w-4">
                            <Icon pack="fa" name="instagram" />
                        </span>
                        @{artist.data?.instagram}
                    </a>
                }
                {artist.data?.tiktok &&
                    <a class="btn has-text-tiktok px-3 py-1 m-0 w-11/12" href={"https://www.tiktok.com/" + artist.data?.tiktok} target="_blank" rel="nofollow noopener noreferrer" title={artist.data?.title + "'s TikTok Handle"}>
                        <span class="mr-4 h-4 w-4">
                            <Icon pack="fa" name="tiktok" />
                        </span>
                        @{artist.data?.tiktok}
                    </a>
                }
                {artist.data?.vskit &&
                    <a class="btn has-text-vskit px-3 py-1 m-0 w-11/12" href={"https://www.vskit.tv/" + artist.data?.vskit} target="_blank" rel="nofollow noopener noreferrer" title={artist.data?.title + "'s VSKit Handle"}>
                        <span class="mr-4 h-4 w-4 icon">
                            <Icon pack="fa" name="vskit" />
                        </span>
                        @{artist.data?.vskit}
                    </a>
                }
                {artist.data?.youtube &&
                    <a class="btn has-text-youtube px-3 py-1 m-0 w-11/12" href={"https://www.youtube.com/channel/" + artist.data?.youtube} target="_blank" rel="nofollow noopener noreferrer" title={artist.data?.title + "'s Youtube page"}>
                        <span class="mr-4 h-4 w-4">
                            <Icon pack="fa" name="youtube" />
                        </span>
                        {artist.data?.title} on Youtube
                    </a>
                }
                {artist.data?.facebook &&
                    <a class="btn has-text-facebook px-3 py-1 m-0 w-11/12" href={"https://www.facebook.com/" + artist.data?.facebook} target="_blank" rel="nofollow noopener noreferrer" title={artist.data?.title + "'s Facebook page"}>
                        <span class="mr-4 h-4 w-4">
                            <Icon pack="fa" name="facebook-official" />
                        </span>
                        Facebook.com/{artist.data?.facebook}
                    </a>
                }
                {artist.data?.audiomack &&
                    <a class="btn has-text- px-3 py-1 m-0 w-11/12" href={"https://audiomack.com/" + artist.data?.audiomack} target="_blank" rel="nofollow noopener noreferrer" title={artist.data?.title + "'s Facebook page"}>
                        <span class="h-4 w-5 mr-4 translate-y-1 flex align-middle">
                            <img loading="lazy" width={20} height={16} src="/images/custom-icons/mark-orange-large.png" alt="Audiomack Logk" />
                        </span>
                        Audiomack.com/{artist.data?.audiomack}
                    </a>
                }
            </div>
        </footer>
    </div>
<style>
    p {
        padding-bottom: 1rem;
    }

    @media (orientation: landscape) {
        .media-content {
            mask-image: linear-gradient(175deg, transparent 5%, black 15%, black 85%, transparent 95%);
        }
    }

</style>
