---
export interface Props {
	title: string;
	seoTitle?: string;
	description: string;
	image?: string;
	imageAlt?: string;
}

const { title, seoTitle, description, image, imageAlt } = Astro.props


function imageUrl(image:string = "/images/manifest/pwa-512x512.png") {
	const url = image.startsWith('/') ? Astro.site + image  : image
	return url
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<title>{Astro.site + ' - ' + title || "Welkom to LastMessengerS.TV"}</title>
<meta name="robots" content="index,follow">
<meta name="description" content={description || "LastMessengerS - Bringing back Truth in Music. "}>
<!-- Facebook OpenGraph -->
<meta property="og:title" content={title || "Welkom to LastMessengerS.TV"}>
<meta property="og:description" content={description || "LastMessengerS - Bringing back Truth in Music. "}>
<meta property="og:url" content={Astro.url.origin}>
<meta property="og:type" content="website">
<meta property="og:image" content={imageUrl(image)}>
<meta property="og:locale" content="en_EN">
<meta property="og:site_name" content="LastMessengerS.TV">
<link rel="canonical" href={canonicalURL}>
<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:title" content={title || "Welkom to LastMessengerS.TV"}>
<meta property="twitter:description" content={description || "Welkom to LastMessengerS.TV"}>
<meta property="twitter:image" content={imageUrl(image)}>
<meta property="og:image" content={imageUrl(image)}>

<!-- Manifest Files -->
<link rel="manifest" href="/manifest.webmanifest">
<link rel="shortcut icon" type="image/png" href="/images/manifest/favicon-32x32.png" sizes="32x32" />

<!-- <meta name="Description" content={description}> -->
<meta name="author" content="Stichting ArtKids Foundation">
<!-- Viewport (iPhone 5 friendly) -->
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<link rel="icon" type="image/png" href="/images/manifest/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/images/manifest/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/images/manifest/android-192x192.png" sizes="192x192">
<link rel="apple-touch-icon" href="/images/manifest/apple-touch-icon-180x180.png" sizes="180x180">

<!-- For third-generation iPad with high-resolution Retina display: -->
<link rel="apple-touch-icon-precomposed" type="image/png" href="/images/manifest/apple-touch-icon-144x144-precomposed.png" sizes="144x144">
<!-- For iPhone with high-resolution Retina display: -->
<link rel="apple-touch-icon-precomposed" type="image/png" sizes="114x114" href="/images/manifest/apple-touch-icon-114x114-precomposed.png">
<!-- For first- and second-generation iPad: -->
<link rel="apple-touch-icon-precomposed" type="image/png" sizes="72x72" href="/images/manifest/apple-touch-icon-72x72-precomposed.png">
<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
<link rel="apple-touch-icon-precomposed" type="image/png" href="/images/manifest/apple-touch-icon-precomposed.png">

<!-- iPhone SPLASHSCREEN-->
<link rel="apple-touch-startup-image" type="image/png" href="/images/manifest/apple-touch-startup-image-320x460.png" media="(device-width: 320px)">
<!-- iPhone (Retina) SPLASHSCREEN-->
<link rel="apple-touch-startup-image" type="image/png" href="/images/manifest/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (device-height: 460px) and (-webkit-device-pixel-ratio: 2)">
<!-- iPhone 5 (Retina) SPLASHSCREEN-->
<link rel="apple-touch-startup-image" type="image/png" href="/images/manifest/apple-touch-startup-image-640x1096.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)">
<!-- iPad (non-Retina) (Portrait) -->
<link rel="apple-touch-startup-image" type="image/png" href="/images/manifest/apple-touch-startup-image-768x1004.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)" />
<!-- iPad (non-Retina) (Landscape) -->
<!-- <link rel="apple-touch-startup-image" type="image/png" href="/images/manifest/apple-touch-startup-image-1024x748.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)" /> -->
<!-- iPad (Retina) (Portrait) -->
<link rel="apple-touch-startup-image" type="image/png" href="/images/manifest/apple-touch-startup-image-1536x2008.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 2)" />
<!-- iPad (Retina) (Landscape) -->
<link rel="apple-touch-startup-image" type="image/png" href="/images/manifest/apple-touch-startup-image-2048x1496.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 2)" />
<!-- Fullscreen -->
<meta name="apple-mobile-web-app-capable" content="yes">
<!-- Status bar styles -->
<meta name="apple-mobile-web-app-status-bar-style" content="default"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
<!-- Telephone format detection -->
<meta name="format-detection" content="telephone=no">
<!-- Title -->
<meta name="apple-mobile-web-app-title" content="LMStv">

<meta name="application-name" content="BUTv">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="HandheldFriendly" content="true">
<meta name="mobile-web-app-capable" content="yes">
<meta name="MobileOptimized" content="width">
<meta name="msapplication-config" content="/images/manifest/browserconfig.xml">
<meta name="msapplication-navbutton-color" content="#171717">
<meta name="msapplication-starturl" content="/">
<meta name="theme-color" content="#171717">


<span slot="ExtendedHeader">
    <!-- SEO section -->
	<link itemprop="thumbnailUrl" href={Astro.url.origin + (image || "/images/manifest/pwa-512x512.png")}>
	<span class="hidden" itemprop="thumbnail" itemscope itemtype="http://schema.org/ImageObject">
		<link itemprop="url" href={Astro.url.origin + (image || "/images/manifest/pwa-512x512.png")}>
	</span>
</span>
