---
import { getCollection, getEntryBySlug } from 'astro:content';

import BaseLayout from "../layouts/BaseLayout.astro";
import ExampleContent from '../components/content/ExampleContent.astro';

export async function getStaticPaths() {
	const sitePages = await getCollection('pages');

	return sitePages.map(page => {

		return {
			params: { slug: page.slug },
			props: { page }
		}
	});
}

const sitePages = await getCollection('pages');

// 1. Get the slug from the incoming server request
const { slug } = Astro.params;
//console.log('Slugit', slug)
// 2. Query for the page directly using the request slug
const page =  await getEntryBySlug('pages', slug);
const { Content } = await page?.render() || false;

//console.log('Page entry', slug, page)

---
<BaseLayout description={page?.data?.description} title={page.data?.title} image={page.data?.image} imageAlt={page.data?.imageAlt}>

	<div slot="sidebarLeftNavList">
		{sitePages && sitePages.map((page) => (
			<li><a href={"/" + page.slug}>{page.data.title}</a></li>
		))}
	</div>

	{Content ?
		<!-- All but Index -->
		<Content />
		:
		<!-- Index -->
		<ExampleContent />
	}

</BaseLayout>