---
	import { getCollection, getEntryBySlug } from 'astro:content';
	import { getLinkcastType } from '@lib/embeds'
	import { Avatar } from '@skeletonlabs/skeleton';

    import Linkcasts from "@components/linkcasts/Linkcasts.astro"
    import LinkCastLayout from "@layouts/LinkCastLayout.astro"
	import LinkcastHeader from '@components/linkcasts/LinkcastHeader.svelte';

	// 1. Generate a new path for every collection linkcast
	export async function getStaticPaths() {
		const linkCasts = await getCollection('linkcasts');
		return linkCasts.map(linkcast => ({
			params: { slug: linkcast.slug},
			props: { linkcast },
		}));
	}

	const { slug } = Astro.params;
	const linkcast = await getEntryBySlug('linkcasts', slug);
	// console.log("slug",slug, linkcast)
---

<LinkCastLayout description={linkcast.data?.description} title={linkcast.data?.title} image={linkcast.data?.image} imageAlt={linkcast.data?.imageAlt}>
	<div class="flex flex-col">

		<!-- landscape:w-3/5.landscape:xl:w-3/4  -->
		<header class="bg-black">
			<LinkcastHeader linkcast={linkcast} type={getLinkcastType(linkcast.data?.url)} client:load />
		</header>
		<!-- Body -->
		<div class="flex-col">

			<main class="p-4 space-y-4 landscape:pt-8">
				<h5 class="text-primary-500 font-semibold">{linkcast.data?.category || 'News & Announcments'}</h5>

				<h3 class="font-black text-xl">{linkcast.data?.title}</h3>

				<h4 class="font-medium">
					{linkcast.data?.subtitle &&
						<span>{linkcast.data?.subtitle}</span>
					}
					<span class="marker text-xs badge badge-filled-surface light:text-black/75 dark:text-white/75">
						{getLinkcastType(linkcast.data?.url)}
					</span>
				</h4>

				<article class="unstyled text-2xl ">
					{linkcast?.body}
				</article>
				<div class="grid grid-rows-1 gap-4">
					{linkcast.data?.url &&
						<a class="btn btn-filled-primary" href={linkcast.data?.url} target="_blank" rel="noreferrer">{linkcast.data?.url}</a>
					}
					<div class="btn btn-filled-secondary">Read more...</div>
				</div>
			</main>
			<hr />
			<!-- Footer -->
			<footer class="p-4 flex justify-start items-center space-x-4">
				<Avatar src={linkcast.data?.authorImage || '/images/red-black-purple-gold-with-sun.svg'} />
				<div class="flex-auto flex justify-between items-center">
					<h6 class="font-bold">By {linkcast.data?.author || 'LMS Parrot'}</h6>
					<small>On {new Date(linkcast.data?.date).toLocaleDateString()}</small>
				</div>
			</footer>
		</div>
	</div>

    <Linkcasts />
</LinkCastLayout>
