---
import { getCollection, getEntryBySlug } from 'astro:content';
import {Avatar} from "@skeletonlabs/skeleton"
import { Icon } from 'astro-icon'

import { getLinkcastType } from "@lib/embeds"

import LinkcastHeader from "./LinkcastHeader.svelte";

async function getLinkcasts() {
	return await getCollection('linkcasts')
}

export let length = -1
export let start = 0

let linkcasts = await getLinkcasts()

linkcasts = linkcasts.sort((a, b) => {
		let aOrder = a.data.date
		let bOrder = b.data.date

		if ( bOrder < aOrder )
			return -1
		if ( aOrder < bOrder )
			return 1
		return 0
	})

const { slug } = await Astro.params
const linkcast = await getEntryBySlug('linkcasts', slug) || linkcasts[0]
---
<div class="bg-gradient-to-br from-slate-700 to-slate-900 min-h-screen md:p-28 p-6 pt-24">
	<h2 class="unstyled my-6 title marker text-3xl">Latest News</h2>

	<div class="landscape:grid portrait:sm:grid landscape:grid-cols-5 landscape:md:grid-cols-2 landscape:lg:grid-cols-3 landscape:xl:grid-cols-4 landscape:grid-flow-dense portrait:xs:grid-cols-2 portrait:sm:grid-cols-3 gap-8">

		{linkcasts.map((linkcast) => (
		<a class="card card-hover variant-glass-primary flex flex-col sm:max-w-sm portrait:mb-6 justify-start" href={"/newscasts/" + linkcast.slug }>
			<header>
				<LinkcastHeader linkcast={linkcast} client:load />
			</header>
			<section class="card-header space-y-4">
				<h5 class="text-primary-500 font-semibold">{linkcast.data.category || 'News & Announcments'}<span class="marker text-xs badge badge-filled-surface light:text-black/75 dark:text-white/75">{getLinkcastType(linkcast.data.url)}</span></h5>

				<h3 class="font-black leading-3 text-xl line-clamp-2">{linkcast.data.title} <br /></h3>

				<h4 class="font-medium text-xl">
					{linkcast.data.subtitle &&
						<span>{linkcast.data.subtitle}</span>
					}

				</h4>

				<p class="unstyled text-2xl overflow-hidden">
					<span class="line-clamp-3">{linkcast.body}</span> <br />
					<b>Read more...</b>
				</p>
			</section>
			<footer class="mt-auto">
				<hr />
				<div  class="p-4 flex justify-start items-center space-x-4">
					<Avatar src={linkcast.data.authorImage || '/images/red-black-purple-gold-with-sun.svg'} />
					<div class="flex-auto flex justify-between items-center">
						<h6 class="font-bold">By {linkcast.data.author || 'LMS Parrot'}</h6>
						<small>On {new Date(linkcast.data.date).toLocaleDateString()}</small>
					</div>
				</div>
			</footer>
		</a>
		))}

{(length < linkcasts.length) &&
			<a href="/newscasts" class="btn btn-filled-primary w-full">View all NewsCasts...</a>
		}
	</div>
</div>
