---
import { getCollection } from 'astro:content'
import { Icon } from 'astro-icon'
const pageList = await getCollection('pages');
const {direction = "vertical", size = "h-8 w-8 p-1"} = Astro.props
const directionClass = direction == "vertical" ? "flex flex-col items-center text-center" : "flex items-center"
const parentDirectionClass = direction == "vertical" ? "flex flex-col items-center text-center" : "flex-flex-col items-center"
---

<div class={parentDirectionClass}>

    <a href={"/"} class="btn variant-soft-surface w-full rounded-none py-4">
        <span class={directionClass}>
            <Icon pack="ph" name="house-line-bold" class={size}/>
            <span>
                Home
            </span>
        </span>
    </a>

    <a href="/unity-album-2022" class="btn variant-soft-surface w-full rounded-none py-4">
        <span class={directionClass}>
            <Icon pack="ph" name="disc-bold" class={size} />
            <span>
                Unity 2022
            </span>
        </span>
    </a>

    <a href="/artists" class="btn variant-soft-surface w-full rounded-none py-4">
        <span class={directionClass}>
            <Icon pack="ph" name="user-list-bold" class={size} />
            <span>
                Artists
            </span>
        </span>
    </a>

    <a href="/newscasts" class="btn variant-soft-surface w-full rounded-none py-4">
        <span class={directionClass}>
            <Icon pack="ph" name="newspaper-clipping-bold" class={size} />
            <span>
                Newscasts
            </span>
        </span>
    </a>

{pageList && pageList.map(page => (
    <a href={"/" + page.slug} class="btn variant-soft-surface w-full rounded-none py-4">
        <span class={directionClass}>
            <Icon pack="ph" name={page.data.icon} class={size} />
            { page.data?.shortTitle ?
            <span>
                {page.data.shortTitle}
            </span>
            :
            <span>
                {page.data.title}
            </span>
            }
        </span>
    </a>
))}
</div>