---
// import '@skeletonlabs/skeleton/themes/theme-gold-nouveau.css';
import '@styles/theme.postcss';
import '@skeletonlabs/skeleton/styles/all.css'
import '@styles/app.postcss';

import { useUserAgent } from "astro-useragent";
// import { Image } from 'astro:assets';
import { ViewTransitions } from 'astro:transitions';

import Fonts from '../components/head/Fonts.astro';
import Footer from '../components/Footer.astro';
import SEO from '../components/head/SEO.astro';
import siteSettings from '../content/settings/_settings.yml';

export interface Props {
    title: string;
    seoTitle?: string;
    description?: string;
    image?: string;
    imageAlt?: string;
}

// Conditional info
const uaString = Astro.request.headers.get("user-agent");
const { isMobile } = useUserAgent(uaString);

const { theme } = siteSettings
const { title, seoTitle, description, image, imageAlt } = (Astro.props?.data || Astro.props)
---

<!DOCTYPE html>
<html class={theme} lang="en">
<head>
    <link rel="preload" as="image" href="/images/red-black-purple-gold-with-sun.svg">
    <!-- Site Meta & SEO -->
    <SEO description={description} title={title} image={image} imageAlt={imageAlt} seoTitle={seoTitle} />
    <!-- Fonts -->
    <Fonts />
    <ViewTransitions />
</head>
<body data-theme="gold-nouveau" class="init light:bg-white light:text-black dark:text-white dark:bg-black">
    <!-- Extended Head -->
    <slot name="extendedHead" />

    <!-- App Loader Screen -->
    <!-- <AppLoader /> -->

    <div style="display: contents" class="h-full overflow-hidden">

    <!-- Default Slot -->
    <slot />

    </div>
    <!-- Loader -->
    <script is:inline>
        var body = document.getElementsByTagName("BODY")[0];
        body.classList.toggle('loaded');
    </script>
</body>
</html>
