---
// import '@skeletonlabs/skeleton/themes/theme-gold-nouveau.css';
import '@styles/theme.postcss';
import '@skeletonlabs/skeleton/styles/all.css'
import '@styles/app.postcss';

import { AppShell, AppBar } from '@skeletonlabs/skeleton'
import { useUserAgent } from "astro-useragent";
import { Image } from '@astrojs/image/components';

import Fonts from '../components/head/Fonts.astro';
import Footer from '../components/Footer.astro';
import SEO from '../components/head/SEO.astro';
import seoSettings from '../content/settings/seo.yml';
import siteSettings from '../content/settings/settings.yml';
import PageNavList from '~components/ux/PageNavList.astro';

import BrandFlag from '~components/ui/BrandFlag.astro';
import SocialNav from '~components/ui/SocialNav.astro';
import PageTitle from '~components/ui/PageTitle.astro';
import NavSidebar from '~components/ui/NavSidebar.astro';

export interface Props {
    title: string;
    seoTitle?: string;
    description?: string;
    image?: string;
    imageAlt?: string;
}

// Conditional info
const uaString = Astro.request.headers.get("user-agent");
const { isMobile } = useUserAgent(uaString);

const { theme } = siteSettings
const { fbappid } = seoSettings
const { title, seoTitle, description, image, imageAlt } = (Astro.props?.data || Astro.props)
---

<!DOCTYPE html>
<html class={theme} lang="en">
<head>
    <link rel="preload" as="image" href="/images/red-black-purple-gold-with-sun.svg" alt="LastMessengerS Parrot">
    <!-- Site Meta & SEO -->
    <SEO description={description} title={title} image={image} imageAlt={imageAlt} seoTitle={seoTitle} fbappid={fbappid} />
    <!-- Fonts -->
    <Fonts />
    <script src=" https://cdn.jsdelivr.net/npm/amplitudejs@5.3.2/dist/amplitude.min.js " is:inline></script>
</head>
<body data-theme="gold-nouveau" class="init light:bg-white light:text-black dark:text-white dark:bg-black">
    <!-- Extended Head -->
    <slot name="extendedHead" />

    <!-- App Loader Screen -->
    <div class="app-loader dark:bg-black/75 light:bg-white/50 backdrop-saturate-50 backdrop-blur-sm w-screen h-screen flex flex-col justify-around items-center fixed top-0 left-0 z-40">
        <div class="wrapper w-screen flex flex-row items-center justify-center scale-100 transition-transform duration-500 z-40">
            <div class="progress-5 female"></div>
            <figure class="image flex flex-row justify-around items-center">
                <!-- <img class="loading-logo" src="/images/LMS_web-logo_small_dark.png" alt="LastMessengerS Logo"/> -->
                <figure class="image transition-all duration-500 m-0 p-0 w-20 xs:w-16 lg:w-24 xl:w-32 mr-4 md:mr-8">
                    <img loading="eager" width={128} height={136} class="lazy drop-shadow-2xl" src="/images/red-black-purple-gold-with-sun.svg" alt="LastMessengers Home" format="avif"/>
                </figure>
                <h1 class="unstyled marker transition-colors duration-500 text-2xl font-bold leading-6 md:text-3xl md:leading-8 lg:text-4xl xl:text-5xl lg:leading-12 xl:leading-16 drop-shadow-xl text-black hover:text-yellow-400 focus-text-gray-900 dark:text-white dark:hover:text-yellow-400 dark:focus:text-gray-100">
                    <span class="block">Last</span><span>MessengerS</span>
                </h1>
            </figure>
            <div class="progress-5 male"></div>
        </div>
        <h2 class="uppercase text-2xl font-bold leading-6 md:text-3xl md:leading-8 lg:text-4xl xl:text-5xl lg:leading-12 xl:leading-16 text-black hover:text-yellow-400 focus-text-gray-900 dark:text-white dark:hover:text-yellow-400 dark:focus:text-gray-10">Loading...</h2>
    </div>

    <!-- Page Transition -->
    <!-- <PageTransition speed={500} color={"orange"} zIndex={99} /> -->
    <div style="display: contents" class="h-full overflow-hidden">

        <AppShell slotSidebarLeft="bg-surface-100-800-token opacity-95 h-full portrait:pb-24 portrait:fixed portrait:left-0 portrait:top-20 portrait:bottom-0 z-20">
            <svelte:fragment slot="header">
            <AppBar background="bg-surface-100-800-token dark:bg-surface-800-100-token z-30">
                <svelte:fragment slot="lead">
                <BrandFlag />
            </svelte:fragment>
            <PageTitle title={title}/>
            <svelte:fragment slot="trail">
            <!-- User Avatar Placeholder -->
        </svelte:fragment>
    </AppBar>
</svelte:fragment>

<!-- Sidebar -->
<svelte:fragment slot="sidebarLeft">
<NavSidebar />
</svelte:fragment>

<!-- Default Slot -->
<slot />

<!-- Page Footer -->
<svelte:fragment slot="pageFooter">
<footer class="m-8">
    <slot name="pageList">
        <h3 class="font-bold">Website Pages</h3>
        <div class="card card-hover p-4 space-y-4 w-1/3">
            <PageNavList direction="horizontal" />
        </div>
    </slot>
    <Footer />
</footer>
</svelte:fragment>

<!-- Site Footer -->
<svelte:fragment slot="footer">
<SocialNav />
</svelte:fragment>
</AppShell>
</div>

<!-- Service Worker -->
<script src="/src/index.ts" is:inline></script>
<script is:inline>
    // window.alert('Ready to run scripts!')
    var body = document.getElementsByTagName("BODY")[0];
    body.classList.toggle('loaded')
</script>
<!-- Netlify Identiy widget -->
<script is:inline src="https://identity.netlify.com/v1/netlify-identity-widget.js"/>
</body>
</html>

<style is:global>
    /* We don't need checkbox to be displayed in order for it to work */
    .menuToggler {
        display: none;
    }

    /*  Displays menu when menuToggler is checked only on mobile/tablet */
    @media screen and (max-width: 1023px) {
        .menuToggler:checked ~ .navbar-menu {
            display: flex !important;
        }

        .menuToggler:checked ~ .navbar-menu .lightswitch{
            margin-bottom: 5rem;
        }

        /* We don't want menu to be displayed on mobile by default */
        .navbar-menu {
            display: none;
        }

    }

    .navbar-burger {
        position: fixed;
        top: unset !important;
    }

    @media screen and (min-width: 1024px) {
        .navbar-burger {
            display: none !important;
        }
    }

    [astro-icon] {
        min-width: 1rem;
    }

    .app-loader {
        opacity: 1;
        visibility: visible;
        transition: visibility 0s linear 0s, opacity 600ms;
    }

    .loaded .app-loader .wrapper {
        transform: scale(0, 0);
    }

    .loaded .app-loader {
        opacity: 0;
        visibility: hidden;
        transition: visibility 0s linear 600ms, opacity 600ms;
    }

    .app-loader .image {
        transform: translatey(0px);
    }


    img {
        opacity: 0;
        transition: opacity 600ms;
        animation: fadeInAnimation ease 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .progress-5 {
        width: 12vw;
        height: calc(12vw*0.866);
        clip-path: polygon(50% 0,100% 100%,0 100%);
        color: #f03355;
        background:
        linear-gradient(currentColor 0 0),
        linear-gradient(currentColor 0 0),
        linear-gradient(currentColor 0 0),
        linear-gradient(currentColor 0 0),
        linear-gradient(currentColor 0 0);
        background-size: 100% calc(100%/5 + 1px);
        background-repeat: no-repeat;
        animation: p5 2s infinite;
    }
    @keyframes p5 {
        0%  {background-position: 0 calc(-2*100%/4),0 calc(-2*100%/4),0 calc(-2*100%/4),0 calc(-2*100%/4),0 calc(-2*100%/4)}
        20% {background-position: 0 calc(4*100%/4) ,0 calc(-2*100%/4),0 calc(-2*100%/4),0 calc(-2*100%/4),0 calc(-2*100%/4)}
        40% {background-position: 0 calc(4*100%/4) ,0 calc(3*100%/4) ,0 calc(-2*100%/4),0 calc(-2*100%/4),0 calc(-2*100%/4)}
        60% {background-position: 0 calc(4*100%/4) ,0 calc(3*100%/4) ,0 calc(2*100%/4) ,0 calc(-2*100%/4),0 calc(-2*100%/4)}
        80% {background-position: 0 calc(4*100%/4) ,0 calc(3*100%/4) ,0 calc(2*100%/4) ,0 calc(1*100%/4) ,0 calc(-2*100%/4)}
        100%{background-position: 0 calc(4*100%/4) ,0 calc(3*100%/4) ,0 calc(2*100%/4) ,0 calc(1*100%/4) ,0 calc(0*100%/4)}
    }

    .loaded .progress-5 {
        animation: unset;
        background-position: 0 calc(4*100%/4) ,0 calc(3*100%/4) ,0 calc(2*100%/4) ,0 calc(1*100%/4) ,0 calc(0*100%/4)
    }

    .app-loader .female {
        color: #1f1f1f;
        transform: rotate(180deg)
    }

    .app-loader .male {
        color: #f1f1f1;
    }
</style>